@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, dt, dd, p {
  cursor: default; }

body {
  font-family: 微软雅黑, 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
  min-width: 595px;
  background-color: #fff;
  margin-bottom: 20px; }

header {
  width: 595px;
  margin: 0 auto; }
  header .headerTop {
    overflow: hidden; }
    header .headerTop .headerTopLeft {
      float: left;
      color: #4ed0e6;
      margin-top: 40px; }
      header .headerTop .headerTopLeft .title {
        height: 40px;
        font-size: 40px;
        padding: 0 30px;
        float: left;
        margin-top: -8px; }
      header .headerTop .headerTopLeft .describe {
        float: left;
        border-left: 2px solid #4ed0e6;
        margin-bottom: 26px;
        padding-left: 30px; }
        header .headerTop .headerTopLeft .describe .position {
          font-size: 18px; }
        header .headerTop .headerTopLeft .describe .english {
          font-size: 16px; }
    header .headerTop .headerTopRight {
      float: right;
      margin-top: 22px; }
      header .headerTop .headerTopRight img {
        width: 117px;
        height: 71px; }
  header .headerBottom {
    overflow: hidden; }
    header .headerBottom > div {
      height: 20px;
      float: left; }
    header .headerBottom .left {
      width: 372px;
      background-color: #4ed0e6; }
    header .headerBottom .middle {
      width: 17px;
      background: url("../img/bac.png") 0 0 no-repeat; }
    header .headerBottom .right {
      width: 206px;
      background-color: #e6b34e; }

section {
  width: 595px;
  margin: 0 auto; }
  section .subTitle {
    width: 516px;
    height: 50px;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    position: relative;
    margin: 0 auto; }
    section .subTitle .content {
      width: 120px;
      height: 28px;
      background: url("../img/titleBac.png") 0 0 no-repeat;
      font-size: 14px;
      color: #fff;
      position: absolute;
      bottom: -7px;
      left: -12px;
      padding-left: 17px; }
  section .sectionContent {
    width: 486px;
    margin: 0 auto;
    overflow: hidden;
    border-left: 1px solid #efefef;
    padding-left: 30px; }
    section .sectionContent .basicInfoItem {
      float: left;
      width: 220px;
      margin-top: 12px;
      font-size: 14px;
      color: #333; }
      section .sectionContent .basicInfoItem i {
        display: inline-block;
        width: 66px;
        font-style: normal; }
    section .sectionContent .basicInfoItem:nth-child(2n) {
      padding-left: 30px; }
    section .sectionContent .skillTitle {
      font-size: 14px;
      color: #4ed0e6;
      margin-top: 20px; }
    section .sectionContent .skillInfoItem {
      font-size: 14px;
      color: #333;
      line-height: 24px; }
    section .sectionContent .company {
      font-size: 14px;
      color: #4ed0e6;
      overflow: hidden;
      margin-top: 20px; }
      section .sectionContent .company .name {
        float: left; }
      section .sectionContent .company .time {
        float: left;
        padding-left: 60px; }
    section .sectionContent .projectTitle {
      font-size: 14px;
      color: #4ed0e6;
      overflow: hidden;
      margin-top: 20px; }
      section .sectionContent .projectTitle .projectName {
        float: left; }
      section .sectionContent .projectTitle .projectLink {
        float: right; }
        section .sectionContent .projectTitle .projectLink .projectLinkItem {
          width: 74px;
          height: 24px;
          line-height: 24px;
          border: 1px solid #4ed0e6;
          border-radius: 12px;
          float: left;
          margin-left: 10px;
          text-align: center; }
          section .sectionContent .projectTitle .projectLink .projectLinkItem img {
            display: inline-block;
            width: 12px;
            height: 12px; }
          section .sectionContent .projectTitle .projectLink .projectLinkItem i {
            display: inline-block;
            font-style: normal; }
    section .sectionContent .projectDescribe {
      font-size: 14px;
      color: #333;
      line-height: 24px; }
