* {
    margin: 0;
    padding: 0;
}


ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4ed0e6;
}

h1, h2, h3, h4, h5, dt, dd, p {
    cursor: default;
}

body {
  font-family: 微软雅黑, 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;
}

.container{
  box-shadow: 0 0 4px #ccc;
  width: 595px;
  margin: 20px auto 20px;
  padding-bottom: 50px;
  background-color: #fff;
  header{
    width:595px;
    margin:0 auto;
    .headerTop{
      overflow: hidden;
        .headerTopLeft{
            float: left;
            color: #4ed0e6;
            margin-top: 40px;
            .title{
                height:40px;
                font-size: 40px;
                padding:0 30px;
                float: left;
                margin-top: -8px;
                font-weight: bold;
            }
            .describe{
                float: left;
                border-left: 2px solid #4ed0e6;
                margin-bottom: 26px;
                padding-left: 30px;
                .position{
                    font-size: 18px;
                }
                .english{
                    font-size: 16px;
                }
            }
        }
        .headerTopRight{
            float: right;
        }
    }
      .headerBottom{
        overflow: hidden;
          >div{
              height:20px;
              float: left;
          }
          .left{
              width:372px;
              background-color: #4ed0e6;
          }
          .middle{
              width:17px;
              background: url("../img/bac.png") 0 0 no-repeat;
          }
          .right{
              width:206px;
              background-color: #e6b34e;
          }
      }
  }
  section{
    width:595px;
    margin:0 auto;
      .subTitle{
          width:516px;
          height:50px;
          border-left: 1px solid #efefef;
          border-bottom: 1px solid #efefef;
          position: relative;
          margin:0 auto;
          .content{
              width:120px;
              height:28px;
              background: url("../img/titleBac.png") 0 0 no-repeat;
              font-size: 14px;
              color: #fff;
              position: absolute;
              bottom:-7px;
              left:-12px;
              padding-left: 17px;
          }
      }
      .sectionContent{
          width:486px;
          margin:0 auto;
          overflow: hidden;
          border-left: 1px solid #efefef;
          padding-left: 30px;
          .basicInfoItem{
              float: left;
              width:220px;
              margin-top: 12px;
              font-size: 14px;
              color: #333;
              i{
                  display: inline-block;
                  width:66px;
                  font-style: normal;
              }
          }
          .basicInfoItem:nth-child(2n){
              padding-left: 30px;
          }
          .skillTitle{
              font-size: 14px;
              color: #4ed0e6;
              margin-top: 20px;
          }
          .skillInfoItem{
              font-size: 14px;
              color: #333;
              line-height: 24px;
          }
          .company{
              font-size: 14px;
              color: #4ed0e6;
              overflow: hidden;
              margin-top: 20px;
              .name{
                  float: left;
              }
              .time{
                  float: left;
                  padding-left: 60px;
              }
          }
          .projectTitle{
              font-size: 12px;
              color: #4ed0e6;
              overflow: hidden;
              margin-top: 20px;
              .projectName{
                  float: left;
              }
              .projectLink{
                  float: right;
                  .projectLinkItem{
                      display: block;
                      height:18px;
                      padding:0 4px;
                      line-height: 18px;
                      border:1px solid #4ed0e6;
                      border-radius: 4px;
                      float: left;
                      margin-left: 10px;
                      text-align: center;
                      img{
                          display: inline-block;
                          width:10px;
                          height:10px;
                      }
                      i{
                          display: inline-block;
                          font-style: normal;
                      }
                  }
              }
          }
          .projectDescribe{
              font-size: 14px;
              color: #333;
              line-height: 24px;
          }
      }
  }
}





